.banner-container{
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}
.banner-container button{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.banner-container img{
    width: 750px;
    height: 500px;
    object-fit: contain;
}